<h2>人员登记系统</h2>

<div class="people_list">
  <ul>
    <li>
      姓名:<input type="text" id="userName" [(ngModel)]="peopleInfo.userName ">
    </li>
    <li>
      性别:
      <input type="radio" value=1 name="sex" id="sex1" [(ngModel)]="peopleInfo.sex"><label for="sex1">男</label>
      <input type="radio" value=2 name="sex" id="sex2" [(ngModel)]="peopleInfo.sex"><label for="sex2">女</label>
    </li>
    <li>
      城市:
      <select name='city' id='city' [(ngModel)]="peopleInfo.city">
        <option [value]="item" *ngFor="let item of peopleInfo.cityList">{{item}}</option>
      </select>
    </li>
    <li>
      爱好:
      <span *ngFor="let hobb of peopleInfo.hobbies; let key = index;">
      <input type="checkbox" [id]="'check'+key" [(ngModel)]="hobb.checked"><label [for]="'check' + key">{{hobb.title}}</label>
      </span>
    </li>
    <li>
      备注:
      <textarea name="mark" id="mark" [(ngModel)]="peopleInfo.mark">

      </textarea>
    </li>
    <button (click)="doSubmit()">获取表单的内容</button>
  </ul>
  {{peopleInfo.userName}}
</div>